@model IEnumerable<UserInfoUpload.Models.User>

@{
    ViewData["Title"] = "Index";
}

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@


<h2>ITI Employees List</h2>
<a asp-action="Create" class="btn btn-success">Add New User</a>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Profile Pictures</th>
            <th>Driving License</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var image in user.UserImages)
                    {
                        <img src="@image.ImagePath" alt="Profile Image" width="50" height="50" style="border-radius: 5px;" />
                    }
                </td>
                <td>
                    @foreach (var image in user.DrivingLicenseImages)
                    {
                        <img src="@image.ImagePath" alt="Driving License Image" width="50" height="50" style="border-radius: 5px;" />
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">View</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-info">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
